<html>
<head>
	<title>We Chat</title>
</head>
<script defer src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>
<body>

<form action="/signup" method="get">
	<input name="email" type="email"     placeholder="Enter your email"/><br>
	<input name="pwd"   type="password"  placeholder="Enter your password."/><br>
	<input name="pwd1"   type="password" placeholder="Re-enter your password."/><br>
	<input type="submit" value="Signup"/>
</form>
</body>
</html>